.button{
    margin: 10px 0 15px 0;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

.fields {
    padding: 10px;
    width: fit-content;
}

.divider {
    width: 60%;
    margin: 40px 0;
}
