<h1>Team 45 Home</h1>
        <ul>
            <li><a href="/customers">Customers</a></li> 
            <li><a href="/orders">Orders</a></li> 
            <li><a href="/products">Products</a></li> 
            <li><a href="/scents">Scents</a></li> 
        </ul>
